:root{
    --clr-dark-violet: hsl(256, 26%, 20%);
    --clr-grayish-blue: hsl(216, 30%, 68%);
    --clr-neu-dark-violet: hsl(270, 9%, 17%);
    --clr-neu-grayish-violet:hsl(273, 4%, 51%);
    --clr-neu-light-gray:hsl(0, 0%, 98%);
}

/********************/
/*CSS RESETS*/
/********************/
/* 1. Use a more-intuitive box-sizing model. */
*,*::before, *::after{
    box-sizing: border-box;
}

/* 2. Remove default margin/padding */
*{
    margin: 0;
    padding: 0;
}

/* 3. Allow perccentage based height */
html,body{
    height: 100%;
}
/* 4. Improve media defaults */
img, picture, svg{
    display: block;
    max-width: 100%;
}

/* 5. Avoid text overflows */
p,h1,h2, h3, h4,h5,h6{
    overflow-wrap: break-word;
}

/*
  Typographic tweaks!
  6. Add accessible line-height and Improve text rendering
*/
body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
  font-family: 'Karla',
  sans-serif;
  }

  /* 7. Remove built-in form typography styles */
  
   button {
    font: inherit;
  }

  h1,h2{
    font-family: 'DM Serif Display', serif;
    font-family: 400;
  }

  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
  }

  /* Container Style */
.container{
  margin: 0 auto;
  max-width: 1440px;
  width: 85%;
}

/*COMPONENTS*/
.btn{
  background-color: transparent;
  outline: none;
  padding: 0.6em 1.2em ;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}



.row, .intro__row, .footer-row{
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* column-gap: 2em; */
}


/***************************/
/* HEADER & NAVIGATION */
/***************************/

.header{
  /* z-index: 1; */
  padding: 1em 0;
  position: sticky;
  width: 100%;
}

.nav{
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}
.nav__list{
  align-items: center;
  display: flex;
  justify-content: center;
  
}

.nav__item + .nav__item{
  margin-left: 1.5em;

}
.nav__link{
  color: var(--clr-neu-grayish-violet);
  font-size: .9rem;
  text-transform: uppercase;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

.nav__link--btn{
  color: var(--clr-dark-violet);
  font-weight: 700;
}
/* START NAVIGATION ACTIVE STATE*/
.nav:hover .nav__link{
  opacity: 0.4;
}

.nav .nav__link:hover{
  color:  var(--clr-dark-violet);
  opacity: 1;
}
.nav .nav__item--btn:hover{
  background-color: var(--clr-dark-violet);
  
}

.nav .nav__link--btn:hover{
  color: #fff;
}

/*END NAVIGATION ACTIVE STATE*/
.header__toggle{
  display: none;
}
picture{
  /* display: block;
  width: 80%;
  max-width: 700px; */
}

/* INTRO SECTION */
.intro{
  background-color: var(--clr-dark-violet);
  color: #fff;
  background-image: url(/images/bg-pattern-intro-left-desktop.svg), url(/images/bg-pattern-intro-right-desktop.svg);
  background-repeat: no-repeat ;
  background-position: -10px 450px , right top;
  /* z-index: -1; */
}

.intro__content{
  width: 50%;
}

.intro__text, .intro__title{
  margin-bottom: 2rem;
}
.intro__title--dash::before{
  top: 180px;
  background-color: #fff;
}
.intro__btn{
 font-size: 1.1rem;
 border: 1px solid #fff;
}
.intro__btn:hover{
  background-color: #fff;
  color: var(--clr-dark-violet);
  font-weight: 700;

}

.intro__title--dash::before, .howit-work__title--dash::before{
  position: absolute;
  left: 100px;
  content: "";
  width: 120px;
  height: 1px;
}

/*HOW IT WORKS*/
.howit-work{
  background-color: transparent;
  padding: 150px 0;
  position: relative;
  /* z-index: -10; */
}


.howit-work__row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  column-gap: 2rem;
  margin-bottom: 5em;

}
.howit-work__column{
  margin-bottom: 3em;
}
.howit-work__title{
  margin-bottom: 2em;
} 
.howit-work__title--dash::before{
  background-color: var(--clr-dark-violet);
  top: 100px;
}
.howit-work__img{
  margin-bottom: 1.3em;
}
.howit-work__subtitle, .howit-work__text{
  margin-bottom: .9em;
}
.howit-work__text{
  color: var(--clr-neu-grayish-violet);
}
.action-box{
  background-color: var(--clr-dark-violet);
  background-image: url(/images/bg-pattern-how-we-work-desktop.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  border-radius: 8px;

  /* max-width: 900px; */
  padding: 3rem;
  /* width: 80; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.action-box__title{
  color: #fff;
  width: 40%;
} 
.action-box__btn{
  border: 1px #fff solid;
}
.action-box__btn:hover{
background-color: #fff;
color: var(--clr-dark-violet);
}

/* FOOTER */
 footer{
  background-color: var(--clr-neu-light-gray);

  background-image: url("/images/bg-pattern-footer-desktop.svg");
  background-repeat: no-repeat;
  
  padding: 6em 0;
}

.footer__layer1{
  margin-bottom: 2em;
}

hr{
  margin-top: 3em;
  margin-bottom: 3em;
}

.footer__social{
  display: flex;
 column-gap: 10px;
 margin-top: 2em;
}

.footer__layer2{
  /* display: flex;
  justify-content: space-between;
   border-top: 1px solid red;  */
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
   grid-column: 2rem;
} 
.footer__column{
  margin-bottom: 2em;
}

/*GENERAL*/
.footer__title{
  margin-bottom: 1.5em;
  text-transform: uppercase;
  color: var(--clr-neu-grayish-violet);
  font-weight: 700;
}

.footer__link{
  text-transform: uppercase;
  color: var(--clr-neu-dark-violet);
  font-weight: 700;
}
.footer__link:hover{
  text-decoration: underline;
}

.intro__row{
  padding: 0em 6em;
  /* padding: 4.8rem 0 9.6rem 0; */
}
.intro__img{
  /* margin-top: 4rem; */
  transform: translateY(100px);
  z-index: 10;
  }

/*****************/
/* MEDIA QUERIES */
/*****************/
@media(min-width:1100px){
 
  /*****************/
  /*INTRO */
   /*****************/
  .intro__content + .intro__img{
    margin-left: 1em;
  }
  .intro__title{
    font-size: 4.7rem;
    letter-spacing: 3px;
    line-height: 1.1;
  }
  .intro__text{
    font-size: 1.1rem;
  }

   /*****************/
  /*HOW IT WORKS */
   /*****************/
  .howit-work__title{
    font-size: 3rem;
    font-weight: 700;
  }
  .howit-work__subtitle{
    font-size: 1.3rem;
  }
  .howit-work__text{
    font-size: 1rem;

  }
  .action-box__title{
    font-size: 2.8rem;
  }
}
/** larger tablet and desktop screens **/

@media(min-width:769px) and (max-width:1099px){
  /* INTRO SECTION */
  /* .intro__content{
    width: 50%;
  } */
  .intro__title{
    font-size: 3rem;
    line-height: 1.0;
  }
  .intro__text{
    font-size: .9rem;
  }

  .intro__content + .intro__img{
    margin-left: 2em;
  }

    /* HOW IT WORKS SECTION */
   
    .action-box__title{
      width:50%;
      font-size: 2rem;
    }
}

/** mobile + tablet  screens**/

@media (max-width:499px), (min-width: 500px) and (max-width:768px){

  /*****************/
/* NAVIGATION */
/*****************/

.nav{
  /* z-index: 1; */
  /*Toggle*/
  align-items: center;
  background-color: var(--clr-dark-violet);
  display: flex;
  display:none;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 65px;
  transform: scale(1, 0);
  width: 100%;
}

.nav__list {
  /* width: 100%; */
  align-items: center;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  padding:  .5rem 0 10rem 0;

}

.nav__item + .nav__item{
  margin-left: 0;
  margin-top: 1em;
}
.nav__link{
  color:#fff;
}
.nav__item--btn{
  border: 1px solid #fff;
}

.menu--close{
  display: none;
}

/*Toggle navigation*/
.nav--open   .nav{
  display:block;
  transform: scale(1, 1);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
  }
  .nav--open .menu--close{
    display: block;
  }
  .nav--open .menu--open{
    display: none;
  }
/* START NAVIGATION ACTIVE STATE*/
.nav:hover .nav__link{
  opacity: 0.4;
}
.nav .nav__link:hover{
  color: #fff;
  opacity: 1;
}
.nav .nav__item--btn:hover{
  background-color: #fff;

}
.nav .nav__link--btn:hover{
  color: var(--clr-dark-violet);
}
/*END NAVIGATION ACTIVE STATE*/

 .header__toggle{
  display:block;
 }

/*****************/
/* INTRO*/
/*****************/

.intro__content{
  width: 100%;
  text-align: center;
}
.intro__row{
  flex-direction: column-reverse;

}
.intro__title{
  font-size: 2.5rem;
}
.intro__img{
  /* margin-top: 4rem; */
  transform: translateY(0px);
  z-index: 10;
  }

  .intro__row{
    padding: 0em ;
    /* padding: 4.8rem 0 9.6rem 0; */
  }


  /*****************/
/* HOW IT WORKS */
/*****************/
.howit-work__title--dash::before{
  left: 60px;
}
.howit-work__row{
  grid-auto-flow: row;
}
.howit-work__subtitle{
  font-size: 1.2rem;
}
.action-box{
  column-gap: 2em;
  flex-direction: column;

}
.action-box__title{
  font-size: 2rem;
  margin-bottom: 1.2em;
  width: 100%;
  text-align: center;
}
}



/* Mobile only */
@media(max-width:499px){

  /* NAVIGATION */
  .nav{
   background-image: url(/images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  }

    /*****************/
/* HOW IT WORKS */
/*****************/
.intro{
 
  background-image: url(/images/bg-pattern-intro-left-desktop.svg),  url(/images/bg-pattern-intro-right-mobile.svg) ;
  background-position:-20px 200px, bottom right;
}
.intro__content{
  padding: 4em 2em;
}

  /*****************/
/* HOW IT WORKS */
/*****************/
.howit-work__title--dash::before{
  left: 50%;
  transform: translate(-50%,-50%);
}
.howit-work__column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.howit-work__title{
  text-align: center;
  font-size: 2rem;
}
.howit-work__subtitle{
  font-size: 1.4rem;
}
.howit-work__text{
  font-size: 1.2rem;
}
.action-box{
  text-align: center;
  background-image: url(/images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
}
.action-box__title{
  font-size: 2rem;
  line-height: 1.1;
}

  /*****************/
/* FOOTER */
/*****************/
.footer-row{
  flex-direction: column;
}
.footer__column{
  text-align: center;
}

}