@import url("https://fonts.googleapis.com/css2?family=Karla:&display=swap");
*,
*::before ::after {
  /* Use a more-intuitive box-sizing model */
  box-sizing: border-box;
}
* {
  /* remove default margin */
  margin: 0;
  padding: 0;
}
:root {
  --bg-light-gray: hsl(204, 43%, 93%);
  --bg-cyan-darker: hsl(179, 62%, 43%);
  --bg-cyan-light: hsl(179, 62%, 40%);
  --clr-white: #fff;
  --clr-bright-yellow: hsl(71, 73%, 54%);
  --clr-white-gray: hsl(0, 0%, 80%);
}
img,
picture,
video,
svg {
  /* improve media default */
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Avoid text overflows */
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
}
html,
body {
  /* Allow percentage-based heights in the application */
  height: 100%;
}
body {
  /* Typographic tweaks!
  . Add accessible line-height
  . Improve text rendering */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  font-family: "Karla", sans-serif;
  background-color: var(--bg-light-gray);
}
.main {
  height: 100vh;
  margin-top: 2rem;
}
.container {
  max-width: 700px;
  width: 85%;
  margin: 0 auto;
}
.community {
  background-color: var(--clr-white);
  padding: 1rem;
  border-radius: 9px 9px 0 0;
}
.community .heading {
  color: var(--bg-cyan);
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}
.community .title {
  color: var(--clr-bright-yellow);
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}
.community .content {
  color: hsl(218, 22%, 67%);
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.subscription {
  background-color: var(--bg-cyan-light);
  padding: 1rem;
}
.subscription .heading {
  color: var(--clr-white);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.subscription .duration {
  color: var(--white-gray);
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  font-weight: 400;
}
.subscription .price {
  color: var(--clr-white);
  font-size: 2rem;
  font-weight: 700;
}
.subscription .title {
  color: var(--clr-white);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.btn,
.btn:visited,
.btn:link {
  display: block;
  background-color: var(--clr-bright-yellow);
  text-align: center;
  color: var(--clr-white);
  padding: 0.7rem 1.4rem;
  font-weight: 700;
  border-radius: 4px;
}
.whyus {
  background-color: var(--bg-cyan-darker);
  padding: 1rem;
  border-radius: 0 0 9px 9px;
}
.whyus .heading {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--clr-white);
  margin-bottom: 1.5rem;
}
.list {
  list-style: none;
  margin-bottom: 1rem;
}
.list-item {
  font-size: 1.1;
  font-weight: 400;
  line-height: 1.7;
  color: var(--clr-white);
  font-weight: 400;
}
@media (min-width: 650px) {
  .subscription,
  .community,
  .whyus {
    padding: 2rem;
  }
  .whyus {
    border-radius: 0 0 9px 0;
  }
  .subscription {
    border-radius: 0 0 0 9px;
  }
  .inner-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
