@import url("https://fonts.googleapis.com/css2?family=Karla:&display=swap");
*,
*::before ::after {
  /* Use a more-intuitive box-sizing model */
  box-sizing: border-box;
}
* {
  /* remove default margin */
  margin: 0;
  padding: 0;
}
img,
picture,
video,
svg {
  /* improve media default */
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Avoid text overflows */
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
}
html,
body {
  /* Allow percentage-based heights in the application */
  height: 100%;
}
body {
  /* Typographic tweaks!
  . Add accessible line-height
  . Improve text rendering */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  font-family: "Karla", sans-serif;
  background-color: rgb(229, 239, 245);
}
.main {
  height: 100vh;
  margin-top: 2rem;
}
.container {
  max-width: 600px;
  width: 85%;
  margin: 0 auto;
}
.community {
  background-color: #fff;
  padding: 1rem;
}
.community .heading {
  color: hsl(179, 62%, 43%);
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}
.community .title {
  color: hsl(71, 73%, 54%);
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}
.community .content {
  color: hsl(218, 22%, 67%);
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.subscription {
  background-color: hsl(179, 62%, 43%);
  padding: 1rem;
}
.subscription .heading {
  color: #fff;
  font-size: 1.4rem;
}
.subscription .duration {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
}
.subscription .price {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}
.subscription .title {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.btn,
.btn:visited,
.btn:link {
  display: block;
  background-color: hsl(71, 73%, 54%);
  text-align: center;
  color: #fff;
  padding: 0.7rem 1.4rem;
  font-weight: 700;
}
.whyus {
  background-color: hsl(218, 22%, 67%);
  padding: 1rem;
}
