/******************/
/* CSS RESET STYLES */
/******************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html,
body {
  height: 100%;
}
html {
  /*10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Be Vietnam Pro", sans-serif;
  background-image: url(../images/bg-simplify-section-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 10px;
}
:root {
  --clr-pri-bright-red: hsl(12, 88%, 59%);
  --clr-pri-dark-blue: hsl(228, 39%, 23%);
  --clr-neut-dark-grayish-blue: hsl(227, 12%, 61%);
  --clr-neut-dark-blue: hsl(233, 12%, 13%);
  --clr-neut-pale-red: hsl(13, 100%, 96%);
  --clr-neut-light-gray: hsl(0, 0%, 98%);
  --clr-white: #fff;
  --clr-light: #f5f5f5;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Avoid text overflows */
  overflow-wrap: break-word;
}
img,
video {
  /* improve media default */
  max-width: 100%;
}
/******************/
/* CSS RESET STYLES */
/******************/

/******************/
/* GENERAL STYLES */
/******************/
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  position: relative;
  margin-top: 1.5rem;
}
.logo{
  height: 1.8rem;
}
.menu{
  cursor: pointer;
}
.menu__toggle[name="menu-outline"],
.menu__toggle[name="close-outline"] {
 font-size: 3rem;
}
.menu__toggle[name="close-outline"]{
  /* visibility: hidden; */
  display: none;
}

.btn,
.btn:link,
.btn:visited{
  display: inline-block;
  border: 1px solid red;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  border-radius: 20px;
   color: #fff;
   font-size: 1.5rem;
   filter: drop-shadow(2px 3px 5px rgba(0,0,0,0.3));
}
.nav{
  background-color: #fff;
  filter: drop-shadow(2px 3px 5px rgba(0,0,0, .2));
  border-radius: 4px;
  text-align: center;
  position: absolute; 
  top: 50px;
  left: 0;
  right: 0;
  margin: 2rem;
  padding: 3rem;
  visibility: hidden;
}
.nav__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
}
.nav__link--btn{
  display: none;
}
.nav--open .nav{
  visibility: visible;

}
/**post defined css for toggle***/
.nav--open .menu__toggle[name="close-outline"]{
  display: block;
}
.nav--open .menu__toggle[name="menu-outline"]{
  display: none;
}
/**post defined css for toggle***/
/******************/
/* End GENERAL STYLES */
/******************/
.section-hero, .section-about,.section-testimonial{
 padding: 2rem; 
}
.heading{
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
   margin-bottom: 1rem;
 
}
.subheading{
  font-size: 3.2rem;
  font-weight: 900;
  text-align: center;
   margin-bottom: 1rem;
}
.text{
  font-size: 1.5rem;
  
   margin-bottom: 2rem;
 
}
.text--primary{
text-align: center;
}
.text--secondary{
text-align: left;
}


/******************/
/* HERO SECTION STYLES */
/******************/
.hero{
  display: flex;
  flex-direction: column-reverse;
   margin-bottom: 2rem;
   text-align: center;
}
.hero--btn{
  background-color: var(--clr-pri-bright-red);
}
/******ABOUT SECTION*********/
.about__category--step{
  margin-bottom: 4rem;
}
.about__row{
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--clr-neut-pale-red);
  padding: .8rem 0;
  border-radius: 4px;
}
.about__row--number{
  padding: .9rem 1.8rem;
  background-color: var(--clr-pri-bright-red);
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  border-radius: 70px;
}
.about__row--title{
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}

/*********Testimonial section*********/
.testimonial{
  /* display: grid;
  grid-template-columns: repeat(3,1fr); */
  gap: 3rem;
  position: relative;
  /* margin-left: 5rem;
  margin-right: 5rem; */
}
.testimonial__item{
  background-color: var(--clr-neut-light-gray);
  padding: 6rem 2rem;
  margin-bottom: 2rem;
  position: relative;
  
}
.testimonial__img{
  width: 70px;
  position: absolute;
  left: 140px;
  bottom: 220px;
  margin-bottom: 2rem;
}
.dots{
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}
.dots__circle{
  width: 15px;
  height: 15px;
  border: 1px solid var(--clr-pri-bright-red);
  border-radius: 50%;
}

.testimonial__name{
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  /* line-height: 1.7; */
 
}
.testimonial__btn{
  background-color: var(--clr-pri-bright-red);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* text-align: center; */
  /* margin: 0 auto; */
  text-align: center;
}
.prev,.next{
  position: absolute;
  /* top: 5%; */
  font-size: 2rem;
  bottom: -115%;
  /* margin-left: 20px; */
  cursor: pointer;
}
.next{
  right: 15px;
}