/******************/
/* CSS RESET STYLES */
/******************/
*,
::before,
::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
html {
  /*10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Be Vietnam Pro", sans-serif;
}
:root {
  --clr-pri-bright-red: hsl(12, 88%, 59%);
  --clr-pri-dark-blue: hsl(228, 39%, 23%);
  --clr-neut-dark-grayish-blue: hsl(227, 12%, 61%);
  --clr-neut-dark-blue: hsl(233, 12%, 13%);
  --clr-neut-pale-red: hsl(13, 100%, 96%);
  --clr-neut-light-gray: hsl(0, 0%, 98%);
  --clr-white: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Avoid text overflows */
  overflow-wrap: break-word;
}
img,
video {
  /* improve media default */
  max-width: 100%;
}
/******************/
/* CSS RESET STYLES */
/******************/

/******************/
/* GENERAL STYLES */
/******************/
.icon-toggle[name="close-outline"] {
  display: none;
}
.container {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}
.logo {
  height: 2rem;
}

.icon-toggle {
  width: 3rem;
  height: 3rem;
}
.btn,
.btn:link,
.btn:visited {
  background-color: var(--clr-pri-bright-red);
  color: var(--clr-white);
  padding: 1.3rem 2.6rem;
  /* font-size: 0.9rem; */
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
}

/******************/
/* GENERAL STYLES */
/******************/

/******************/
/* HEADER STYLES */
/******************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  /* max-width: 1440px; */

  position: relative;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.menu-toggle {
  display: none;
  font-size: 700;
}

.nav {
  /* display: flex;
  align-items: center; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* background-color: violet;
  margin-top: 4rem;
  padding: 1rem;
  width: 75%; */
  /* display: block; */
}
.nav-list {
  display: flex;
  align-items: center;
  /* justify-items: center; */
  /* flex: 1; */
  /* justify-items: flex-end; */
  /* align-items: flex-start; */
  /* justify-content: center; */
  gap: 1rem;
}
.nav-link {
  font-size: 1.4rem;
  font-weight: 500;
}

/******************/
/* HERO SECTION */
/******************/
.hero-section {
  padding: 50px 0;
}
.hero-wrapper {
  display: flex;
  justify-content: space-between;
}
.hero-content {
  width: 50%;
  align-self: center;
}
.heading {
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 2rem;
}
.hero-text {
  font-size: 1.5rem;
  width: 60%;
  margin-bottom: 3rem;
}
.hero-btn {
  font-size: 1.4rem;
}
