/******************/
/* CSS RESET STYLES */
/******************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html,
body {
  height: 100%;
}
html {
  /*10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Be Vietnam Pro", sans-serif;
  background-image: url(../images/bg-simplify-section-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 10px;
}
:root {
  --clr-pri-bright-red: hsl(12, 88%, 59%);
  --clr-pri-dark-blue: hsl(228, 39%, 23%);
  --clr-neut-dark-grayish-blue: hsl(227, 12%, 61%);
  --clr-neut-dark-blue: hsl(233, 12%, 13%);
  --clr-neut-pale-red: hsl(13, 100%, 96%);
  --clr-neut-light-gray: hsl(0, 0%, 98%);
  --clr-white: #fff;
  --clr-light: #f5f5f5;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Avoid text overflows */
  overflow-wrap: break-word;
}
img,
video {
  /* improve media default */
  max-width: 100%;
}
/******************/
/* CSS RESET STYLES */
/******************/

/******************/
/* GENERAL STYLES */
/******************/


/******************/
/* End GENERAL STYLES */
/******************/
