/**************************/
/* ABOVE 1001px (Desktop) */
/**************************/
@media(min-width:1001px){
.nav__link{
    font-size: 1.4rem;

}
.btn,
.btn:link,
.btn:visited{
    padding: 1.4rem 2.8rem;
}
 .hero__content{
    width: 80%; 
    align-self: center;
}
.heading{
  font-weight: 700;
  font-size: 5rem;
}
.text{
    font-size: 2rem;
}


}


/**************************/
/* Above  768px (smaller desktop) */
/**************************/

@media(min-width:768px){ 
.nav__list{ 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    column-gap: 1.5rem; 
}
.menu__toggle[name="menu-outline"], 
.menu__toggle[name="close-outline"] { 
    display: none; 

}
.btn,
.btn:link,
.btn:visited{
    padding: 1rem 2rem;
} 
.heading{
    font-size: 4rem;
}
.text{
    font-size: 1.6rem;
}
/* .hero__img{
    width: 45%;
} */
}



/**************************/
/* BELOW 768px (Tablets) */
/**************************/
@media(max-width:768px){

    /* onToggle mobile view UI*/
     .nav {
        /* centering using positioning absolute */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,20%);
        transition: all  0.5s ease-in;
        background-color: var(--clr-light-gray);
        box-shadow: 2px 3px 5px rgba(66, 62, 62, 0.1);
        border-radius: 3px;
        padding: 4rem ;
        width: 100%;
       /* Hide navigation */
    /* Allows NO transitions at all */
   
    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
    }
    .nav--open .nav{
      visibility: visible;
      opacity: 1; 
      pointer-events: auto;
    }
    .nav--open .menu__toggle[name="close-outline"]{
        display: block;
    }
    .nav--open .menu__toggle[name="menu-outline"]{
        display: none;
    }
    
     /* End onToggle mobile view */

    .nav__list{
       text-align: center;
       display: flex;
       flex-direction: column;
       gap: 2rem;
    }
    .nav__link{
        font-size: 1.7rem;
        font-weight: 500;
    }
    
    .menu__toggle[name="close-outline"]{
        display: none;
    }
    .menu__btn{
        display: none;
    }

    /**************/
    /*Hero section*/
    /**************/
    .hero{
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    .hero__content{
        text-align: center;
    }
    .hero__img{
     grid-row: 1;
    
    }
    .heading{
        font-size: 4rem;
    }
    .text{
        font-size: 1.7rem;
    }
    .btn,
    .btn:link,
    .btn:visited{
        padding: 1rem 2rem;
        font-size: 1.6rem;
    }
    
}


/**************************/
/* BELOW 544px (Phones) */
/**************************/
@media(max-width:544px){
    .heading{
        text-align: cen;
    }
    
}
