
/* mobile view */
@media(max-width:768px){

    /* onToggle mobile view UI*/
     .nav {
        /* centering using positioning absolute */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,20%);
        transition: all  0.5s ease-in;
        background-color: var(--clr-light-gray);
        box-shadow: 2px 3px 5px rgba(66, 62, 62, 0.1);
        border-radius: 3px;
        padding: 3rem ;
        width: 85%;
       /* Hide navigation */
    /* Allows NO transitions at all */
   
    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
    }
    .nav--open .nav{
      visibility: visible;
      opacity: 1; 
      pointer-events: auto;
    }
    .nav--open .menu__toggle[name="close-outline"]{
        display: block;
    }
    .nav--open .menu__toggle[name="menu-outline"]{
        display: none;
    }
    
     /* End onToggle mobile view */

    .nav__list{
       text-align: center;
       display: flex;
       flex-direction: column;
       gap: 2rem;
    }
    .nav__link{
        font-size: 1.7rem;
        font-weight: 500;
    }
    .menu__toggle[name="close-outline"]{
        display: none;
    }
    .menu__btn{
        display: none;
    }
    
}

/* //desktop view */
