@media (max-width: 600px) {
  .header {
    padding: 0 1.5rem;
  }
  .menu-toggle {
    display: block;
  }

  /* Trigger Nav in js smaller screen size */
  .nav {
    background-color: ivory;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    padding: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;

    visibility: hidden;
  }
  .nav-open .nav {
    visibility: visible;
  }
  .nav-open .icon-toggle[name="menu-outline"] {
    display: none;
  }
  .nav-open .icon-toggle[name="close-outline"] {
    display: block;
  }
  /* Trigger Nav in js for smaller screen size */
  .nav-list {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .nav-link {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .nav-link__btn {
    display: none;
  }
  /******************/
  /* HERO SECTIOn */
  /******************/
  .hero-wrapper {
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .hero-content {
    text-align: center;
  }
}
