/********************/
/*1012px*/
/********************/
@media(min-width:63.25em){
    /********************/
    /*HEADER*/
    /********************/
    
    .nav__list{
        display: flex;
        align-items: center;
        cursor: pointer;
        --flow-space-left:2rem;

    }
    .nav__link{
        font-size: var(--fs-sm);
        font-weight: var(--fw-400);
    }
/* border hover effect styling */
    .nav__link::after{
        content: "";
        position: absolute;
        left: 50%;
        right:50%;
        bottom: -30px;
        display: block;
        height: 3px;
        background: linear-gradient( var(--linear-gradient));
        transition: left, right .2s ease-in-out;
    }
    .nav__link:hover::after,
    .nav__link:focus::after
    /* .nav__link:active::after this will allow first list to have an active*/
    {
        right:0;
        left:0;
        
    }
    

    .menu[data-state="switch"] .menu__icon{
        display: none;
    }
/*********HERO SECTION***********/

.hero-section{
    background-image: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: 550px -250px ;
}

.hero{
    grid-template-columns: 1fr 1fr;
    grid-gap: 6rem;
}
.hero__content{
    max-width: 400px;
    /* align-self: center; */
}
.hero__title{
    font-size: 5rem;
   
}
.hero__img{
    position: relative;
    left: 170px;
    bottom: 140px;
    z-index: 1;
}
/*********ABOUT SECTION***********/
.about-section{
    margin-top:-300px;
}
.about__content{
    max-width: 500px;
}
.about__title{
    font-size: 3.5rem;
}

.about-grid__title{
    font-size: var(--fs-md);
}
.text{
    font-size: var(--fs-sm);
}
/********ARTICLE SECTION***********/
.article-grid__name{
    font-size: 1.2rem;
}
.article-grid__title {
    font-size:var(--fs-md) ;
}
.article-grid__text{
    font-size: var(--fs-sm);
}
}

/********************/
/*1011px*/
/********************/
@media(max-width:63.188em) {
    /********************/
    /*HEADER*/
    /********************/
    html {
        /* 8px / 16px = 0.5 = 50% */
        font-size: 50%;
    }
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        transform: translateX(100%);
        transition: .2s all ease-in;
        height: 100%;
        background-color: var(--clr-neutral-300);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        padding: 0 2rem;
        visibility: hidden;
    }
    
    .nav__list {
        position: absolute;
        left: 20%;
        top: 100px;
        text-align: center;
        font-size: var(--fs-md);
        cursor: pointer;
        --flow-space-top: 3rem;
    }
    
    .nav-open .nav {
        transform: translateX(50%);
        visibility: visible;
    }
    
    .nav-open .menu[data-state="switch"] .menu__toggle[name="menu-outline"] {
        display: none;
    }
    
    .nav-open .menu[data-state="switch"] .menu__toggle[name="close-outline"] {
        display: block;
    }
    
.menu[data-state="switch"] .menu__btn {
    display: none;
}

[name="menu-outline"],
[name="close-outline"] {
    width: 3rem;
    height: 3rem;
    color: #000;
    cursor: pointer;
}

.menu[data-state="switch"] .menu__toggle[name="menu-outline"] {
    display: block;
}

.menu[data-state="switch"] .menu__toggle[name="close-outline"] {
    display: none;
}

/*********HERO SECTION***********/
.hero-section {
    background-image: url(../images/bg-intro-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -130px;
}
.hero__content{
    text-align: center;
}
.hero__img {
    grid-row: 1;
    position: relative;
    bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    font-size: var(--fs-md);
}
/***********ABOUT SECTION**************/

.about__content{
    max-width: 500px;
}
.about__title{
    font-size: 3rem;
}
.about-grid__title{
    font-size: var(--fs-md);
}
/********ARTICLE SECTION***********/
.article-grid__name{
font-size:1.3rem ;
}
.article-grid__title{
    font-size: var(--fs-lg);
}
}

/********************/
/*600px*/
/********************/
@media(max-width:37.5em) {
    /*********ABOUT SECTION***********/
 .about__content,.about-grid__column{
     text-align: center;
 }
 .about__title{
     font-size: 4rem;
 }
 .about-grid__img{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .about-grid__title{
     font-size: var(--fs-md);
 }
}